<a href="https://colab.research.google.com/github/pramodnairx/Jupyter-notebooks/blob/main/HelloWorld2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas - Series.

1. Created from an ndarray. index is optional

In [ ]:
import numpy as np
import pandas as pd
from datetime import date

s1 = pd.Series([1, 3, 5, 7, 11], ["cat", "dog", "horse", "cow", "sheep"])
s2 = pd.Series(np.random.randn(5), [100, 101, 102, 103, 104])

series_objects = [12, "cat", 43.2, date.today(), "Yahoo!"]
series_index = []
for x in range(0, len(series_objects)):
    # series_index.append(np.random.randn())
    series_index.append(x + 100)
s3 = pd.Series(series_objects, series_index)
print(s3)

100            12
101           cat
102          43.2
103    2024-09-17
104        Yahoo!
dtype: object

2. Created from a Dict. Key/Value = Index/Element

In [ ]:
import numpy as np
import pandas as pd
from datetime import date

d = {"apple":25, "watermelon": 14, "orange": 55, "cucumber": 40}
pd.Series(d)

apple         25
watermelon    14
orange        55
cucumber      40
dtype: int64

2.1 Created from a Dict. Maps matching Dict entries to Series (Filters the Dict)

In [ ]:
pd.Series(d, ["apple", "grapes"])

apple     25.0
grapes     NaN
dtype: float64

3. Created from a Scalar. Applies/Repeats index against the scalar

In [ ]:
pd.Series(35, d.keys())

NameError: name 'pd' is not defined